body {
    font-family: 'Roboto', Arial, sans-serif;
    background: url('/background.gif') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}


.container {
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding: 20px;
}

.title-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.title-bar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.title-bar .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.title-bar .logo:hover {
    transform: rotate(360deg);
}

.title-bar .site-title {
    font-size: 2em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: cyan;
    overflow: hidden;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.title-bar .site-title:hover {
    color: magenta;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan;
    }
    to {
        text-shadow: 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 50px magenta;
    }
}


.now-playing-about-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 30px;
}


.now-playing {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.now-playing-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.video-thumbnail {
    width: 100px; 
    height: auto;
    margin-right: 15px; 
    border-radius: 5px; 
}


.video-title-container {
    flex: 1; 
    text-align: left; 
}


.now-playing h2 {
    font-size: 1.5em; 
    margin: 0; 
}


.now-playing p {
    font-size: 1.2em;
    color: #ffdd57;
    margin: 5px 0 0; 
}


#progress-bar-container {
    background-color: #333;
    border-radius: 5px;
    height: 10px;
    margin-top: 10px;
}

#progress-bar {
    background-color: #ffdd57;
    height: 100%;
    width: 0;
    border-radius: 5px;
}

#time-remaining {
    margin-top: 5px;
    font-size: 1em;
    color: #ffdd57;
}

.recent-videos-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.recent-videos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 50px; /* Adds spacing between the recent videos and the About Me section */
}

.advanced-video-card {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advanced-video-card:hover {
    transform: translateY(-10px); /* Move the card up slightly */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Add a shadow to create a "pop-out" effect */
}

.recent-video-thumbnail {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.advanced-video-card:hover .recent-video-thumbnail {
    transform: scale(1.1); /* Slightly enlarge the thumbnail */
}

.recent-video-title {
    font-size: 1.1em;
    color: #fff;
    margin: 0;
}

@keyframes fadeInCard {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.about {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
    z-index: 2;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
}

.about a {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    animation: rainbow 5s infinite;
}

.about a:hover {
    text-decoration: underline;
    animation: rainbow-hover 2s infinite;
}

@keyframes rainbow-hover {
    0% { color: #ff0000; }
    15% { color: #ffa500; }
    30% { color: #ffff00; }
    45% { color: #008000; }
    60% { color: #0000ff; }
    75% { color: #4b0082; }
    90% { color: #ee82ee; }
    100% { color: #ff0000; }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center;
    width: 100%;
    z-index: 1;
    position: relative;
    padding: 20px;
    min-height: calc(100vh - 100px); /* Ensure content does not overlap with footer */
}




@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row; 
    }
}


.game-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.game-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
    overflow: hidden;
    position: relative;
    font-size: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    perspective: 1000px;
}

.card.flipped {
    transform: rotateY(180deg);
    background-color: white;
}

.symbol {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card.flipped .symbol {
    opacity: 1;
}

#game-status {
    margin-top: 20px;
    font-size: 1.2em;
}


.banner {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Make sure it's behind content */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



.banner img:hover {
    filter: brightness(1);
}


.fancy-discord-widget {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #7289da;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fancy-discord-widget:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.discord-widget-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.discord-widget-header .discord-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.discord-widget-header .discord-logo:hover {
    transform: rotate(360deg);
}

.discord-widget-header h3 {
    color: white;
    font-size: 1.2em;
    margin: 0;
}

.discord-widget-body {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.discord-widget-body .iframe-container {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.discord-widget-body iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.discord-widget-footer {
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.discord-widget-footer .join-button {
    background-color: #7289da;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2em;
    border: none;
    box-shadow: none;
}

@keyframes rainbow {
    0% { border-color: #ff0000; }
    15% { border-color: #ffa500; }
    30% { border-color: #ffff00; }
    45% { border-color: #008000; }
    60% { border-color: #0000ff; }
    75% { border-color: #4b0082; }
    90% { border-color: #ee82ee; }
    100% { border-color: #ff0000; }
}

.discord-widget-footer .join-button:hover {
    background-color: #5b6eae;
    transform: scale(1.1);
}


.footer {
    background: #000;
    padding: 10px 0;
    text-align: center;
    color: #999;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0; /* Pin it to the bottom */
    left: 0;
    z-index: 2;
}

.footer a {
    color: #00ffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.fancy-title {
    font-size: 3em;
    color: cyan;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}


.community-section {
    margin-top: 30px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    animation: slide-down 1s ease-out;
}

@keyframes slide-down {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.arrow-down {
    display: block;
    margin: 10px auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.videos-section {
    margin-top: 20px;
}

.category-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.category-bar button {
    background: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    border-radius: 5px;
}

.category-bar button:hover, .category-bar button.active {
    background: #00bfff;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.videos {
    padding: 40px 0;
    position: relative;
    z-index: 1;
    background: transparent;
    width: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.video-item {
    background: rgba(68, 68, 68, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
}

.video-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.video-item iframe {
    width: 100%;
    height: 250px;
    border: none;
}

.video-item .video-thumbnail {
    width: 100%;
    height: auto;
}

.video-item .video-details {
    padding: 10px;
}

.video-item h3, .video-item p {
    margin: 10px;
    font-size: 14px;
    color: #fff;
}

.video-item h3 {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.video-description {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    transition: max-height 0.3s ease;
}

.video-item:hover .video-description {
    -webkit-line-clamp: unset;
    max-height: 200px;
}

.play-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: red;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
}


body.login-page {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #444;
    color: #fff;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"] {
    background: cyan;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background: #00cccc;
}


.admin-container {
    text-align: center;
    margin-top: 50px;
}

.admin-container input, .admin-container textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #444;
    color: #fff;
}

.admin-container button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: cyan;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.admin-container button:hover {
    background: #00cccc;
}


@media (max-width: 768px) {
    .title-bar .logo {
        width: 50px;
    }
    .title-bar .site-title {
        font-size: 1.5em;
    }
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .about {
        width: 80%;
    }
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .title-bar .logo {
        width: 40px;
    }
    .title-bar .site-title {
        font-size: 1.2em;
    }
    .about {
        width: 90%;
        padding: 10px;
    }
    .video-grid {
        grid-template-columns: 1fr;
    }
}

